# Introdución

In [1]:
import pandas as pd

##### 1. Importamos el dataset de donde vamos a sacar la informacion

In [2]:
file = open("../data/realdonaldtrump.csv", encoding="utf8")
data = pd.DataFrame(file)
data.head()

                                                   0
0  id;link;content;date;retweets;favorites;mentio...
1  1698308935;https://twitter.com/realDonaldTrump...
2  1701461182;https://twitter.com/realDonaldTrump...
3  1737479987;https://twitter.com/realDonaldTrump...
4  1741160716;https://twitter.com/realDonaldTrump...

##### 2. Optenemos un dataset final y limpio
    - Separamos columnas
    - Renombramos columnas
    - Eliminamos primera fila
    - Eliminamos las columnas que no nos sirvan 
    - NOS QUEDAMOS CON NUESTRO ULTIMO DF --> TWEETS

In [3]:
data[0][0]

'id;link;content;date;retweets;favorites;mentions;hashtags\n'

In [4]:
data1 = data[0].str.split(';', expand=True)

In [5]:
data1.rename(columns={0 : 'id', 1: 'link', 2: 'content', 3: 'date', 4: 'retweets', 5: 'favorites', 6: 'mentions', 7: 'hashtags'}, inplace=True)

In [6]:
data2 = data1.drop([0],axis=0)

In [121]:
tweets0 = data2.drop(['id', 'link', 'mentions', 'hashtags'], axis = 1)
tweets0.head()

,content,date,retweets,favorites
1,Be sure to tune in and watch Donald Trump on L...,04/05/2009 0:00,510,917
2,Donald Trump will be appearing on The View tom...,04/05/2009 0:00,34,267
3,Donald Trump reads Top Ten Financial Tips on L...,08/05/2009 0:00,13,19
4,New Blog Post: Celebrity Apprentice Finale and...,08/05/2009 0:00,11,26
5,"""""""My persona will never be that of a wallflow...",12/05/2009 0:00,1375,1945

In [122]:
year = tweets0.date.apply(lambda x: str(x) [6:10])
df = pd.DataFrame(year)
df2 = df.rename(columns={'date': 'year'})
df2.head()

   year
1  2009
2  2009
3  2009
4  2009
5  2009

In [129]:
tweets = pd.concat([tweets0, df2], axis=1).copy()
tweets.head()

,content,date,retweets,favorites,year
1,Be sure to tune in and watch Donald Trump on L...,04/05/2009 0:00,510,917,2009
2,Donald Trump will be appearing on The View tom...,04/05/2009 0:00,34,267,2009
3,Donald Trump reads Top Ten Financial Tips on L...,08/05/2009 0:00,13,19,2009
4,New Blog Post: Celebrity Apprentice Finale and...,08/05/2009 0:00,11,26,2009
5,"""""""My persona will never be that of a wallflow...",12/05/2009 0:00,1375,1945,2009

In [130]:
# Ademas comprobamos que no hay ningun valor nulo
tweets.isnull().sum()

content      0
date         0
retweets     0
favorites    0
year         0
dtype: int64

In [131]:
# guardamos para importar luego
tweets.to_csv('tweets.csv')

In [132]:
# Convierto el csv a un json y lo importo a mongo
tweets.to_json("../data/script_hp_json", orient="records")

##### 3. Conexion con Mongo

In [53]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")

In [54]:
db = client.get_database("HP")

In [55]:
collection = db.get_collection("tweets")

In [56]:
collection.find_one({})

{'_id': ObjectId('5fc406826248df5174d9d4c6'),
 '': '1',
 'content': 'Be sure to tune in and watch Donald Trump on Late Night with David Letterman as he presents the Top Ten List tonight!',
 'date': datetime.datetime(2009, 4, 4, 22, 0),
 'retweets': 510,
 'favorites': 917}

#### 1ª quary 
* Queremos que nos devuelva el nº de retweets que tiene cada tweet, así vamos a poder analizar la influencia social y mediante redes sociales que existe en la politica estadunidense

In [69]:
retweets = collection.find({'retweets':{"$gt": 200000}}, {"content": 1, "retweets": 1, "date":1, "_id" : 0}).sort("date", -1)
list(retweets)

[{'content': 'A$AP Rocky released from prison and on his way home to the United States from Sweden. It was a Rocky Week, get home ASAP A$AP!',
  'date': datetime.datetime(2019, 2, 7, 23, 0),
  'retweets': 232085},
 {'content': '"Why would Kim Jong-un insult me by calling me ""old,"" when I would NEVER call him ""short and fat?"" Oh well, I try so hard to be his friend - and maybe someday that will happen!"',
  'date': datetime.datetime(2017, 11, 10, 23, 0),
  'retweets': 223661},
 {'content': '# FraudNewsCNN # FNNpic.twitter.com/WYUnHjjUjg',
  'date': datetime.datetime(2017, 2, 6, 23, 0),
  'retweets': 302269},
 {'content': 'TODAY WE MAKE AMERICA GREAT AGAIN!',
  'date': datetime.datetime(2016, 8, 10, 22, 0),
  'retweets': 289872},
 {'content': 'Are you allowed to impeach a president for gross incompetence?',
  'date': datetime.datetime(2014, 4, 5, 22, 0),
  'retweets': 242667},
 {'content': 'Be prepared, there is a small chance that our horrendous leadership could unknowingly lead us into World War III.',
  'date': datetime.datetime(1970, 1, 1, 0, 0),
  'retweets': 216536},
 {'content': 'The United States of America will be designating ANTIFA as a Terrorist Organization.',
  'date': datetime.datetime(1970, 1, 1, 0, 0),
  'retweets': 224890}]

##### 2ª quary
* Vamos a querer que nos devuelva el numero de favoritos que tiene cada tweet 
* Con esta informacion tambien vamos a poder observar la importancia que tienen las redes sociales en nuestra vida 
* En Instagram por ejmplo, cuantos más likes tengas más influencia, mejor eres, más popular.... este ejemplo más cercano lo podemos comparar con los favoritos de twitter, que cuantos más tengas... más razon tienes.. y esto hay que valorarlo ya que no siempre es asi, de ahi la importancia de este enpoint para ver la importacia de los favoritos de cada tweet

In [74]:
retweets = collection.find({'favorites':{"$gt": 800000}}, {"content": 1, "favorites": 1, "_id" : 0})
list(retweets)

[{'content': 'A$AP Rocky released from prison and on his way home to the United States from Sweden. It was a Rocky Week, get home ASAP A$AP!',
  'favorites': 835575},
 {'content': 'The United States of America will be designating ANTIFA as a Terrorist Organization.',
  'favorites': 828937}]

#### 3º quary
* Queremos poder sacar todos los tweets por año

In [134]:
year = collection.find({'year':{"$gt": "2019"}}, {"content": 1, "year": 1, "_id" : 0}).limit(20)
list(year)

[{'content': 'Best equipment & finest military in the World. On site quickly!https://twitter.com/heatherjones333/status/1212475089133944832 …',
  'year': '2020'},
 {'content': 'Too bad, Corey would have won! He (and I) loves New Hampshire.https://twitter.com/dmartosko/status/1212042598732439554 …',
  'year': '2020'},
 {'content': 'Can’t believe @ ATT keeps the management after yet another @ CNN ratings dive. Nobody watching, NO CREDIBILITY! Maybe they should make changes at AT&T?https://twitter.com/heatherjones333/status/1212376966873206786 …',
  'year': '2020'},
 {'content': 'Great job!https://twitter.com/TrumpWarRoom/status/1212391791774838784 …',
  'year': '2020'},
 {'content': 'They don’t know how to do that!https://twitter.com/GeraldoRivera/status/1212402251806990336 …',
  'year': '2020'},
 {'content': 'Sohrab Ahmari, New York Post “The Trump Campaign raised $10 million in the two days following the impeachment (Scam) vote. It seems the Democrats have shot themselves in the foot in one more way. They set up a process they know is not going to lead to the Presidents removal, &...',
  'year': '2020'},
 {'content': '....it’s alienating independents. This President is being persecuted over three years with one investigation after another, and that really plays to his base.” @ FoxNews @ cvpayne Their partisan Witch Hunt is hurting our Country do badly, & only bringing more division than ever!',
  'year': '2020'},
 {'content': 'A lot of very good people were taken down by a small group of Dirty (Filthy) Cops, politicians, government officials, and an investigation that was illegally started & that SPIED on my campaign. The Witch Hunt is sputtering badly, but still going on (Ukraine Hoax!). If this....',
  'year': '2020'},
 {'content': '....had happened to a Presidential candidate, or President, who was a Democrat, everybody involved would long ago be in jail for treason (and more), and it would be considered the CRIME OF THE CENTURY, far bigger and more sinister than Watergate!',
  'year': '2020'},
 {'content': 'pic.twitter.com/VXeKiVzpTf', 'year': '2020'},
 {'content': 'Iran never won a war, but never lost a negotiation!',
  'year': '2020'},
 {'content': 'General Qassem Soleimani has killed or badly wounded thousands of Americans over an extended period of time, and was plotting to kill many more...but got caught! He was directly and indirectly responsible for the death of millions of people, including the recent large number....',
  'year': '2020'},
 {'content': '....of PROTESTERS killed in Iran itself. While Iran will never be able to properly admit it, Soleimani was both hated and feared within the country. They are not nearly as saddened as the leaders will let the outside world believe. He should have been taken out many years ago!',
  'year': '2020'},
 {'content': 'The United States has paid Iraq Billions of Dollars a year, for many years. That is on top of all else we have done for them. The people of Iraq don’t want to be dominated & controlled by Iran, but ultimately, that is their choice. Over the last 15 years, Iran has gained more....',
  'year': '2020'},
 {'content': '....and more control over Iraq, and the people of Iraq are not happy with that. It will never end well!',
  'year': '2020'},
 {'content': 'This is a great book, a must read!https://twitter.com/nedryun/status/1205122585274523648 …',
  'year': '2020'},
 {'content': 'Christopher Bedford, The Federalist Senior Editor. “There is NOTHING NEW in these Emails at all that’s been discovered. It’s exactly what we knew before, which is that the White House & political figures wanted to cut off aid, Trump wanted to question aid to a number of....',
  'year': '2020'},
 {'content': '....different places that he thought were wasteful, and the career staff, as they always do, pushed back, and made a million excuses as to why they could not possibly stop spending U.S. taxpayer money. There was a back & forth over the legal arguments, & the W.H. decision was....',
  'year': '2020'},
 {'content': '....followed, and then it was withdrawn. The Democrats argument for impeachment has not gotten stronger over the last few weeks. As Senator Josh Hawley just said, he’s going to enter a Motion to Dismiss the Impeachment Trial because it’s never actually been brought to trial.”',
  'year': '2020'},
 {'content': 'pic.twitter.com/qOi7mpKcHY', 'year': '2020'}]